<div
  class="fixed inset-0 bg-[#051B35FF]/60 backdrop-blur-sm bg-opacity-50 flex items-center justify-center z-50 transition-all duration-300 ease-out scale-100 opacity-100"
>
  <div
    class="bg-white rounded-lg shadow-lg w-full sm:w-[90%] md:max-w-[600px] max-h-[90vh] flex flex-col"
  >
    <!-- Encabezado -->
    <div class="sticky top-0 bg-white p-6 border-b border-gray-200 z-10">
      <h2 class="text-xl font-bold">
        {{ request ? "Editar Solicitud" : "Nueva solicitud" }}
      </h2>
    </div>
    <!-- Contenedor principal o cuerpo del modal -->
    <div class="overflow-y-auto px-6 flex-1">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="px-4 sm:px-6 md:px-10 py-6 space-y-4"
      >
        <!-- Título -->
        <div>
          <label for="title" class="block text-sm font-medium text-gray-700">
            Título*
          </label>
          <input
            id="title"
            type="text"
            formControlName="title"
            placeholder="Escribe el título"
            [ngClass]="{
              'border-red-500 ring-red-500':
                form.get('title')?.invalid && form.get('title')?.touched,
              'border-gray-300':
                form.get('title')?.valid || !form.get('title')?.touched
            }"
            class="w-full border rounded-md px-3 py-2 mt-1 text-sm focus:outline-green-600"
          />
          <!-- MENSAJES PARA VALIDACIONES -->
          <div
            *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
            class="text-red-600"
          >
            <small *ngIf="form.get('title')?.errors?.['required']">
              Este campo es obligatorio.
            </small>
            <small *ngIf="form.get('title')?.errors?.['minlength']">
              Minimo de 5 caracteres
            </small>
            <small *ngIf="form.get('title')?.errors?.['maxlength']">
              Maximo de 40 caracteres
            </small>
          </div>
        </div>
        <!-- Usuario -->
        <div>
          <label for="user" class="block text-sm font-medium text-gray-700">
            Usuario solicitante*
          </label>
          <input
            id="user"
            type="text"
            formControlName="user"
            placeholder="Nombre del solicitante"
            [ngClass]="{
              'border-red-500 ring-red-500':
                form.get('user')?.invalid && form.get('user')?.touched,
              'border-gray-300':
                form.get('user')?.valid || !form.get('user')?.touched
            }"
            class="w-full border rounded-md px-3 py-2 mt-1 text-sm focus:outline-green-600"
          />
          <!-- MENSAJES PARA VALIDACIONES -->
          <div
            *ngIf="form.get('user')?.touched && form.get('user')?.invalid"
            class="text-red-600"
          >
            <small *ngIf="form.get('user')?.errors?.['required']">
              Este campo es obligatorio.
            </small>
            <small *ngIf="form.get('user')?.errors?.['minlength']">
              Minimo de 3 caracteres
            </small>
          </div>
        </div>
        <!-- Categoría y Estatus -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <!-- Categoria -->
          <div>
            <label
              for="category"
              class="block text-sm font-medium text-gray-700"
              >Categoría</label
            >
            <select
              formControlName="category"
              id="category"
              class="w-full border rounded-md px-3 py-2 mt-1"
            >
              <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
            </select>
          </div>
          <!-- Status -->
          <div>
            <label for="status" class="block text-sm font-medium text-gray-700">
              Estatus
            </label>
            <select
              formControlName="status"
              id="status"
              class="w-full border rounded-md px-3 py-2 mt-1"
            >
              <option *ngFor="let s of statuses" [value]="s">{{ s }}</option>
            </select>
          </div>
        </div>
        <!-- Descripción -->
        <div>
          <label
            for="description"
            class="block text-sm font-medium text-gray-700"
          >
            Descripción*
          </label>
          <textarea
            id="description"
            formControlName="description"
            rows="3"
            [ngClass]="{
              'border-red-500 ring-red-500':
                form.get('description')?.invalid &&
                form.get('description')?.touched,
              'border-gray-300':
                form.get('description')?.valid ||
                !form.get('description')?.touched
            }"
            class="w-full border rounded-md px-3 py-2 mt-1 text-sm focus:outline-green-600"
          ></textarea>
          <!-- MENSAJES PARA VALIDACIONES -->
          <div
            *ngIf="
              form.get('description')?.touched &&
              form.get('description')?.invalid
            "
            class="text-red-600"
          >
            <small *ngIf="form.get('description')?.errors?.['required']">
              Este campo es obligatorio.
            </small>
            <small *ngIf="form.get('description')?.errors?.['minlength']">
              Minimo de 10 caracteres
            </small>
            <small *ngIf="form.get('description')?.errors?.['maxlength']">
              Maximo de 120 caracteres
            </small>
          </div>
        </div>
        <!-- Fecha -->
        <div>
          <label
            for="createdAt"
            class="block text-sm font-medium text-gray-700"
          >
            Fecha de creaci&oacute;n*
          </label>
          <input
            type="date"
            id="createdAt"
            formControlName="createdAt"
            [ngClass]="{
              'border-red-500 ring-red-500':
                form.get('createdAt')?.invalid &&
                form.get('createdAt')?.touched,
              'border-gray-300':
                form.get('createdAt')?.valid || !form.get('createdAt')?.touched
            }"
            class="w-full border rounded-md px-3 py-2 mt-1 text-sm focus:outline-green-600"
          />
          <!-- MENSAJES PARA VALIDACIONES -->
          <div
            *ngIf="
              form.get('createdAt')?.touched && form.get('createdAt')?.invalid
            "
            class="text-red-600"
          >
            <small *ngIf="form.get('createdAt')?.errors?.['required']">
              Este campo es obligatorio.
            </small>
            <small *ngIf="form.get('createdAt')?.errors?.['invalidDateRange']">
              Solo se permite seleccionar una fecha de hoy o de ayer.
            </small>
          </div>
        </div>
        <!-- Botones -->
        <div class="flex justify-end gap-4 pt-4">
          <!-- Buton cancelar -->
          <button type="button" (click)="onCancel()" class="text-gray-700">
            Cancelar
          </button>
          <!-- Boton guardar o submit -->
          <button
            type="submit"
            class="bg-green-700 text-white px-4 py-2 mt-1 rounded hover:bg-green-600"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
